asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers==4.9.0
django-unfold==1.0.0
djangorestframework
djangorestframework-simplejwt
djoser
drf-spectacular
python-dotenv
idna
inflection
jsonschema
jsonschema-specifications
oauthlib
pillow
pycparser
PyJWT
python3-openid
PyYAML
referencing
requests
requests-oauthlib==2.0.0
rpds-py==0.30.0
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
uritemplate
urllib3